{% extends 'booktemplate.html' %}
{%load static%}



<!-- 
    <div class="pagination">
        <ul>

            {%if posts.has_previous%}
            <li><a href="?page={{posts.previous_page_number}}">Previous</a></li>
            {%endif%}

            {%for pg in posts.paginator.page_range%}
            {%if posts.number == pg%}
            <li class="active"><a href="?page={{pg}}">{{pg}}</a></li>
            {%else%}
            <li><a href="?page={{pg}}">{{pg}}</a></li>
            {%endif%}
            {%endfor%}

            {%if posts.has_next%}
            <li><a href="?page={{posts.next_page_number}}">Next</a></li>
            {%endif%}

        </ul>
    </div> -->




{%block indexlinks%}
{%for i in posts%}
<a href="#" onclick="location='{%url 'home' i.id%}'">{{i.niceTitle|slice:"5"}}</a>
{%endfor%}
{%endblock indexlinks%}


{%block resourcelinks%}
{%for i in images%}
<a href="D:/#Django Project/demo_blog/media/images/{{i.figTitle}}.jpg">{{i.figTitle}}</a>
{%endfor%}
{%endblock resourcelinks%}

{%block naviclinks%}

{%for i in posts%}
{%if i.id == object.id%}
{%if i.id > 22 %}
{% with nid=i.id|add:"-1"%}
<a href="#" onclick="location='{%url 'home' nid%}'"><i class="fa fa-long-arrow-left fa-4x page-next"
        aria-hidden="true"></i><br>Previous</a>
{%endwith%}
{%endif%}
{%endif%}
{%endfor%}


{%for i in posts%}
{%if i.id == object.id%}
{%if i.id < 35 %}
{% with nid=i.id|add:"1"%}
<a href="#" onclick="location='{%url 'home' nid%}'"><i class="fa fa-long-arrow-right fa-4x page-next"
        aria-hidden="true"></i><br>Next</a>
{%endwith%}
{%endif%}
{%endif%}
{%endfor%}

<a href="{%url 'create' %}"><i class="fa fa-pencil-square-o fa-4x page-next" aria-hidden="true"></i><br>Notes..</a>


{%endblock naviclinks%}

{%block readable%}
<h1 class="pagetitle">{{object.niceTitle}}</h1>
<p class="pagecontent">{{object.niceContent|linebreaksbr}}</p>
{%endblock readable%}